<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Registration</h1>
        </div>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp" id="email" placeholder="Enter e-mail">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <a href="#" id="s-h-pass">Показать пароль</a>
    </div>

    <button type="submit" class="btn btn-dark">Create user</button>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#s-h-pass').click(function () {
            var type = $('#password').attr('type') == "text" ? "password" : 'text',
                c = $(this).text() == "Скрыть пароль" ? "Показать пароль" : "Скрыть пароль";
            $(this).text(c);
            $('#password').prop('type', type);
        });
    });
</script>
</body>
</html>